body{

background-color: beige;
font-family: cursive;

}

.copy_right_footer{

bottom: 0;
position: fixed;
background-color: black;
color: #ffffff;
width: 100%;
line-height: 3;
font-size: 25;
font-family: cursive;
text-shadow:5px 5px 20px white ;

}

.header_div{

background-color: #000000;
color: #FFFFFF;
top: 0;
position: fixed;
width: 100%;

}

#startButton{

margin-top: 125px;
width: 130px;
letter-spacing: 3px;
font-size: 25px;
font-variant: small-caps;
font-weight:bolder ;

}